<div class="top-row ps-3 navbar navbar-dark">
    <div class="navbar-brand" href="">
        <img src="/branding/logos/sitechat-icon.svg" alt="SiteChat Agent" height="32" style="margin-right: 10px; vertical-align: middle;">
        SiteChatCMS
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chatagent">
                <span class="bi bi-chat-dots-nav-menu" aria-hidden="true"></span> Chat Agent
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pricing">
                <span class="bi bi-currency-dollar-nav-menu" aria-hidden="true"></span> Pricing
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subscription">
                <span class="bi bi-credit-card-nav-menu" aria-hidden="true"></span> My Subscription
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adverts/buy">
                <span class="bi bi-megaphone-fill-nav-menu" aria-hidden="true"></span> Advertise
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/adverts">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span> Advert Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

